<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>Start</title>
</head>
<body>
     <a th:href = "@{/admin/bgmi/the/addTeamForm}" class="btn btn-primary btn-sm mb-3"> Add Team </a>
     <a th:href = "@{/team/pointTable}" class="btn btn-primary btn-sm mb-3"> Point Table </a>
     <a th:href = "@{/admin/bgmi/the/matchTableAdmin}" class="btn btn-primary btn-sm mb-3"> Match Table </a>
     <a th:href = "@{/admin/bgmi/the/addMatchForm}" class="btn btn-primary btn-sm mb-3"> Add Match</a>
</body>